h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
    color: #333;
}

/* Responsive iframes */
iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-bottom: 20px;
    border: none;
}

/* Styling for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    iframe {
        margin-bottom: 15px;
    }}